<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body class="container">
    <div class="jumbotron text-center" style="margin-top: 2em">
      <h3>Discorage</h3>
      <img
        src="android-chrome-512x512.png"
        alt="discorage app"
        style="height: 300; width: 25%"
      />
      <h1 style="margin-top: 1em">Successfully Uploaded File</h1>
    </div>
  </body>
</html>
